<div id="article-loop" class="desktop-9 tablet-6 mobile-3">
      
      <div class="article-index" id="article-{{ article.id }}" data-alpha="{{ article.title }}">
        {% for article in blog.articles  %}
        	{% assign img_url = article.image | img_url: '400x400', crop: 'center' %}
        <div class="article-info">
		
          <div class="article-info-inner">
            <div class="article-info-content full-width">
               <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            {% assign published_at = article.published_at | date: format: 'month_date_year' %}
            {% if section.settings.show_date %}<p class="posted">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p>{% endif %}
              
              <div class="article-content">

                {% if article.excerpt == blank %}
                {{ article.content | strip_html | truncatewords: 50 }}
                {% else %}
                {{ article.excerpt }}
                {% endif %}
              </div>

            <div class="readmore">
              <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}<span class="sr-only"> about {{article.title}}</span></a>
            </div>
            </div>
           
          </div>
     	</div>
      {% endfor %}
    </div>
</div>
<!-- <div class="desktop-3 tablet-hide mobile-3">
  <div class="sidebar-box">
    <h2>Event</h2>
    
    <ul id="posts" class="events-feed">
       {% for event in blogs['events'].articles limit: 5 %}
      	
      <li>
        <h3><a href="{{ event.url }}">{{ event.title }}</a></h3>
        
        {% if event.excerpt == blank %}
        {{ event.content | strip_html | truncatewords: 20 }}
        {% else %}
        {{ event.excerpt | truncatewords: 30 }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    <div class="readmore">
              <a href="{{ blogs['events'].url }}">SEE ALL EVENTS</a>
            </div>
  </div>
</div> -->