<div style="max-width: 1135px; margin: 0 auto; text-align: center;">
  <h1>{{ page.title }}</h1>
  <div style="margin-bottom: 30px;">
  {{ page.content }}
  </div>
  <a {{ section.settings.ga_tracking }} href="{{ section.settings.infographic_pdf }}" style="max-width: 800px; margin: 0 auto; display: block;" target="_blank"><img  src="{{ section.settings.infographic_thumbnail | img_url: 'master' }}" alt=""></a>
  
  <div class="btn-row infographic-btn-row">
    <a {{ section.settings.ga_tracking }} href="{{ section.settings.infographic_pdf }}" target="_blank" class="btn">Download Guide</a>
    <a href="{{ section.settings.featured_btn_collection }}" class="btn">{{ section.settings.featured_btn_text }}</a>
  </div>
  <div class="infographic-content">
    {{ section.settings.page_content }}
  </div>
  	
  <div class="product-row" style="display: flex; flex-wrap: wrap;">
<h2 style="width: 100%; text-align: left; padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; margin-bottom: 40px;">Farm &amp; Industry</h2>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/work-rubber-overshoes"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/industry-work-rubber.jpg?2713" alt="" />
<div class="product-info">
<h3>Work Rubber Overshoes</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/workbrutes"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/quality-pvc.jpg?v=1600191432" alt="" />
<div class="product-info">
<h3>Workbrutes</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/workbrutes-g2"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/industry-workbrutes-g2.jpg?2713" alt="" />
<div class="product-info">
<h3>Workbrutes G2</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/workbrutes-steel-toe-overshoe"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/industry-workbrutes-steel-toe.jpg?2713" alt="" />
<div class="product-info">
<h3>Workbrutes Steel Toe</h3>
</div>
</a></div>
</div>
<div class="product-row" style="display: flex; flex-wrap: wrap;">
<h2 style="width: 100%; text-align: left; padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; margin-bottom: 40px;">Dress Rubber Overshoes</h2>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/dress-rubber-overshoe-commuter"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/casual-commuter.jpg?2713" alt="" />
<div class="product-info">
<h3>Commuter</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/dress-rubber-overshoe-moccasin"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/casual-moccasin.jpg?2713" alt="" />
<div class="product-info">
<h3>Moccasin</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/dress-rubber-overshoe-storm"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/casual-storm.jpg?2713" alt="" />
<div class="product-info">
<h3>Storm</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/dress-rubber-overshoe-trim"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/casual-trim.jpg?2713" alt="" />
<div class="product-info">
<h3>Trim</h3>
</div>
</a></div>
</div>
<div class="product-row" style="display: flex; flex-wrap: wrap;">
<h2 style="width: 100%; text-align: left; padding-bottom: 10px; border-bottom: 1px solid #f2f2f2; margin-bottom: 40px;">Winter &amp; Ice Traction</h2>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/workbrutes-g2"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/workbrutes-tall.jpg?v=1600111371" alt="" />
<div class="product-info">
<h3>Workbrutes G2</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/orion-1"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/winter-orion.jpg?2713" alt="" />
<div class="product-info">
<h3>Orion</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/collections/winter-tuff"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/winter-tuff.jpg?2713" alt="" />
<div class="product-info">
<h3>Winter-Tuff</h3>
</div>
</a></div>
<div id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full"><a href="https://www.tingleyrubber.com/products/winter-tuff-ice-traction-spikes"> <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/ice-traction-spikes.jpg?v=1600111305" alt="" />
<div class="product-info">
<h3>Winter-Tuff Spikes</h3>
</div>
</a></div>
</div>


{% schema %}
  {
    "blocks": [
      {
        "type": "infographic_collections",
        "name": "Infographic Collections",
        "settings": [
          {
            "id": "info_collection",
            "type": "collection",
            "label": "Collection"
          }
        ]
      }
    ],
	"settings": [
		{
      	  "type": "image_picker",
          "id": "infographic_thumbnail",
          "label": "Infographic Thumbnail"
        },
        {
			"type": "url",
          "id": "infographic_pdf",
          "label": "Infographic PDF"
        },
		{
			"type": "url",
          "id": "featured_btn_collection",
          "label": "Featured Button Collection"
        },
		{
			"type": "text",
          "id": "featured_btn_text",
          "label": "Featured Button Text"
        },
		{
			"type": "richtext",
			"id": "page_content",
			"label": "Page Content"
		},
        {
			"type": "text",
          "id": "ga_tracking",
          "label": "Google Tracking Code"
        }
      ]
  }
{% endschema %}
