<div>
  <h1>{{ page.title }}</h1>
  <div style="margin-bottom: 60px;">
  {{ page.content }}
  </div>
  
  <style>
    @media (max-width: 740px){
      h2{
        border-bottom: 1px solid #f2f2f2;
      }
    }
  </style>
  	
  <div class="product-row">
  		
        <h2 style="text-align: left; padding-bottom: 10px; margin-bottom: 40px;">PROTECTIVE APPAREL</h2>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/rainwear">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/protective-rainwear.jpg?4189" alt="">
            <div class="product-info">
              <h3>Protective Rainwear</h3>
            </div>
          </a>
        </div>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/high-visibility">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/high-visibility.jpg?4189" alt="">
            <div class="product-info">
              <h3>High Visibility</h3>
            </div>
          </a>
        </div>
        <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/flame-resistant">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/flame-resistant.jpg?4189" alt="">
            <div class="product-info">
              <h3>Flame Resistant</h3>
            </div>
          </a>
        </div>
    
    
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/leisure">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/outdoor-leisure.jpg?4189" alt="">
            <div class="product-info">
              <h3>Outdoor/Leisure</h3>
            </div>
          </a>
        </div>
  
  
</div>

<div class="product-row">
  		
        <h2 style="text-align: left; padding-bottom: 10px; margin-bottom: 40px;">FOOTWEAR</h2>
        <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/pages/overshoes-overboots">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/overshoes.jpg?4189" alt="">
            <div class="product-info">
              <h3>Overshoes</h3>
            </div>
          </a>
        </div>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/over-the-sock">
            <img src="https://cdn.shopify.com/s/files/1/0085/7807/2634/files/work-boots.jpg?4189" alt="">
            <div class="product-info">
              <h3>Work Boots</h3>
            </div>
          </a>
        </div>
    
  
  
</div>
