<div>
  <h1>{{ page.title }}</h1>
  <div style="margin-bottom: 60px;">
  {{ page.content }}
  </div>
  
  <style>
    @media (max-width: 740px){
      h2{
        border-bottom: 1px solid #f2f2f2;
      }
    }
  </style>
  	
  <div class="product-row">
        <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/flite">
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/products/26256-01-01_400x400_crop_center.jpg?v=1542056929" alt="">
            <div class="product-info" style="margin-top: 25px;">
              <h3>Flite®</h3>
            </div>
          </a>
        </div>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/american">
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/products/J32107_A_940018dd-2fb2-4b1e-a39a-c34fb8074e46_400x400_crop_center.jpg?v=1541704727" alt="">
            <div class="product-info" style="margin-top: 25px;">
              <h3>American</h3>
            </div>
          </a>
        </div>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/eagle">
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/products/J21107_Az_400x400_crop_center.jpg?v=1541716856" alt="">
            <div class="product-info" style="margin-top: 25px;">
              <h3>Eagle™</h3>
            </div>
          </a>
        </div>
    <div  id="product-listing-{{ product.id }}" class="product-index desktop-3 tablet-2 mobile-full">
          <a href="https://www.tingleyrubber.com/collections/iron-eagle">
            <img src="//cdn.shopify.com/s/files/1/0085/7807/2634/products/J22161_A_abfd6713-774d-4d5c-99de-39471c3b63eb_400x400_crop_center.jpg?v=1541782452" alt="">
            <div class="product-info" style="margin-top: 25px;">
              <h3>Iron Eagle®</h3>
            </div>
          </a>
        </div>
  
  
</div>
